#contacto {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-conteiner {
}
.contact-header {
  text-align: center;
  text-shadow: 2px 2px 1px #1f1f1f;
}
.contact-header h1{
  font-size: 60px;
  margin-bottom: 30px;
}
.contact-header p{
  font-size: 25px;
  margin-bottom: 30px;
  font-style: italic;
}
.contact-links {
  display: flex;
  font-size: 30px;
  justify-content: center;
}
.contact-links a{
  margin-right: 40px;
  text-shadow: 2px 2px 1px #1f1f1f;
}
footer {
  display: flex;
  height: 6vh;
  padding: 10px 0 0 10px;
  border-top: 4px solid white;
  font-size: 15px;
}
